.card-img-top {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #eee;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
}

.card-footer {
    background-color: white;
    border-top: none;
}