/*Estilo para las imagenes del carrusel*/
.carousel-image {
    height: 500px;
    object-fit: cover;
}

/*imagen FlightJordan, centramos la imagen*/
.carousel-image-centered {
    object-position: center;
}

/*Estilos para el banner principal*/
.main-banner {
    background-color: #f8f9fa;
    padding: 3rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

/*Media query para que el texto se alinee a la izquierda en pantallas mas grandes*/
@media (min-width: 768px) {
    .main-banner {
        text-align: left;
    }
}

.banner-title {
    font-size: 2.5rem;
    font-weight: bold;
}