/*Estilo para las imagenes del carrusel*/
.carousel-image {
    height: 500px;
    object-fit: cover;
}

/*imagen FlightJordan, centramos la imagen*/
.carousel-image-centered {
    object-position: center;
}